body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
ol,
ul {
  padding-left: 0;
  list-style: none;
}

.status {
  font-size: 24px;
  margin-bottom: 10px;
}
.square {
  background: #a57d04;
  color: #a6a08f;
  border: none;
  float: left;
  font-size: 28px;
  font-weight: 100;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
  position: relative;
  cursor: pointer;
}
.square:nth-of-type(19n+1) {
  clear: both;
  content: "";
  display: table;
}
.square:focus {
  outline: none;
}
.kbd-navigation .square:focus {
  background: #ddd;
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}
.game-info {
  margin-right: 50px;
}
.moves {
  overflow: scroll;
  max-height: 300px;
  cursor: pointer;
  line-height: 1.5;
  padding: 10px 0;
  width: 150px;
  font-size: 15px;
  * {
    color: #0598bc;
  }
}
