body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
ol,
ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}
.square {
  background: #a57d04;
  color: #a6a08f;
  border: none;
  float: left;
  font-size: 28px;
  font-weight: 100;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
  position: relative;
}
.square:nth-of-type(19n+1) {
  clear: both;
  content: "";
  display: table;
}
.square:focus {
  outline: none;
}
.kbd-navigation .square:focus {
  background: #ddd;
}
.game {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}
