body {
  margin: 0;
  font-weight: 100;
  color: #ccc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  background-color: #e5f3fd;
}
ol,
ul {
  padding-left: 0;
  list-style: none;
}

.App-header {
  font-size: 1.2em;
  margin: auto;
  width: 100%;
  text-align: center;
  position: fixed;
  background-color: #D1E5F4;
  top: 0;
  z-index: 9;
}

.App-logo {
  img {
    height: 200px;
  }
}

.App-menu-list {
  font-size: 18px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.App-menu-item {
  margin: 0 3em;
}

footer {
  color: #ccc;
  display: flex;
  position: fixed;
  font-size: 12px;
  bottom: 0;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #D1E5F4;
  flex-direction: row;
  @media screen and (max-width: 480px){
    flex-direction: column;
  }
}

a, a:visited, a:hover {
  color: #ddd;
  text-decoration: none;
  font-weight: normal;
}

a:focus, a:hover {
  color: #fff;
  text-decoration: underline;
}

.home-container {
  text-align: center;
  p {
    font-size: 1.2em;

  }
  
}
.social-links {
  color: #fff;
  margin: 10px;
  a {
    margin: 0 1em;
  }
  img {
    width: 20px;
  }
}
